// .example {
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
//     Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
//   line-height: 1.5;
//   background-color: #fff;
//   color: #2f2f37;
//   max-width: 960px;
//   padding: 16px;
// }

// .example code {
//   font-family: monospace;
//   font-size: 16px;
//   font-weight: 700;
//   background-color: #ff6b0a;
//   color: #fff;
//   padding: 2px 6px;
//   border-radius: 2px;
// }

// .example .background {
//   height: 240px;
// ❗️❗️❗️ The path to images from a SASS file
// is always the same as from the css folder.
// background-image: url('../images/logo.png');
// background-size: cover;
// background-position: center;
// }

.search-bar {
  height: 40px;
  display: flex;
  background-image: linear-gradient(to bottom, gray, black);
  justify-content: center;
  align-items: center;
}

// .gallery {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 10px;
//   padding: 10px;
//   padding-top: 20px;
// }

.gallery {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 12px;

  max-width: 100%;
}

img {
  display: block;
  max-width: 100%;
  background-size: cover;
}

.photo-card {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #eeeeee;
  flex-basis: calc(100% / 6 - 30px);
  max-width: 300px;
}

// .photo-card {
//   position: relative;
//   width: calc((100% - 30px) / 4);
//   height: 270px;
//   background-color: #fff;

//   border: 1px solid #eeeeee;
// }
.photo-card:hover {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.info {
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  gap: 16px;

  @media screen and (min-width: 768px) and (max-width: 1190px) {
    max-width: 100%;
  }
}

.info-item {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.06em;
  color: var(--font-color-one);
  margin-bottom: 4px;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

span {
  font-size: 10px;
  line-height: 1.8;
  color: var(--font-color-two);
  max-width: 100%;
}

// .info {
//   width: 100%;
//   height: 70px;
//   position: absolute;
//   background-color: #fff;
//   top: 200px;
//   display: flex;
//   padding: 5px;
//   justify-content: center;
// }

// .caption {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   margin: 0;
//   text-align: center;
//   padding-left: 10px;
//   padding-right: 10px;
// }
// .info-item:first-child {
//   width: 50px;
// }
// .info-item:nth-child(2) {
//   width: 50px;
// }
// .info-item:nth-child(3) {
//   width: 90px;
// }
// .info-item:not(:last-child) {
//   margin-right: 10px;
// }

// span {
//   font-weight: 400;
//   font-size: 15px;
// }
// .caption {
//   text-align: center;
// }
